{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "endOfLine": "auto",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "printWidth": 120,
  "proseWrap": "always"
}
