<header class="main-container">
  <div class="main-container__child">
    <div class="main-container__child__icons-container">
      <mat-icon
        aria-hidden="false"
        aria-label="Menu Icon"
        [fontIcon]="isSideNavMenuOpen ? 'menu_open' : 'menu'" class="mat-accent"
        (click)="openSideNavMenu()">
      </mat-icon>
      <img
        class="main-container__tibia-icon" src="../../../../../assets/img/Tibia_icon.png"
        alt="Ícone Tibia"
        [routerLink]="['/home']">
    </div>
    <div>
      <div
        #profileMenu
        id="profileMenu"
        appCheckClickElement
        (clickOutside)="onProfileMenuClickOutside($event)"
        [matMenuTriggerFor]="menu"
        class="main-container__child__menu">
        <p>Olá, {{ userName ? userName : 'Sem nome de usuário'}}!</p>
        <mat-icon aria-hidden="false" aria-label="Menu Icon" [fontIcon]="isMenuProfileOpen ? 'arrow_drop_up' : 'arrow_drop_down'"></mat-icon>

      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a [routerLink]="['/user-profile']" routerLinkActive="router-link-active">
            Meu Perfil
          </a>
        </button>
        <button (click)="logout()" mat-menu-item>Sair</button>
      </mat-menu>
    </div>
  </div>
</header>

