.carousel-container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: calc(100% - 80px);

  .carousel-wrapper {
    width: 100%;
    overflow: hidden;
    height: 100%;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;

  }

  .carousel-item {
    flex: 0 0 33.33%;
    padding: 10px;
    box-sizing: border-box;

    &__img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }

  .control-btn {
    position: absolute;
    background-color: #5A2800;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }

    &.top {
      top: -40px;
    }

    &.bottom {
      bottom: -40px;
    }
  }

  &.mobile {
    flex-direction: column;

    .control-btn {
      &.left, &.right {
        display: none;
      }
      &.top, &.bottom {
        display: block;
      }
    }
  }
}

.example-card {
  background-color: #e2b8a8;
  border-color: #5A2800;
  max-width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.88rem;
}

