$bg-color-blue-opacity: rgba(38, 45, 79, 0.9);
$color-blue: #262D4F;
$color-medium-blue: #353D62;
$color-light-blue: #939AB0;
$color-white: #FFF;
$color-gray: #cccc;
$color-midnight-blue: #191970;
$color-orange: 	#FFA500;
$color-light-brown: #debb9d;
$color-dark-brown: #5a2800;
$color-chocolate: #D2691E;
$color-sienna: #A0522D;
$color-red: #FF0000;
$color-dark-red: #8B0000;
$color-green: #008000;
$box-shadow-brown: rgba(90, 40, 0, 1)
